<div class="layer">

	<div class="col-md-12">

		<h1 class="text-center">Web Canvas</h1>

	</div>


	<div class="container">
		<div class="row" id="userFormArea">

			
			<div class="col-md-3">
			</div>

			<div class="col-md-6">
				<form id="userForm">
					<div class="form-group">

						<label>Enter Username</label>

						<input class="form-control" id="username">
						<br>

						<input type="submit" class="btn btn-primary" value="Login">


					</div>
				</form>
			</div>

			<div class="col-md-3">
			</div>

		</div>
	</div>
	
	<div class="row" id="messageArea">
		<div class="container">

			<div id="theCanvas">
				<div class="top-bar">
			        <button id="save-btn" class="btn btn-primary">Save</button>
			        <button id="undo-btn" class="btn btn-warning">Undo</button>
			        <button id="clear-btn" class="btn btn-danger">Clear</button>
			        <input type="color" id="color-picker">
			        <input type="range" id="brush-size" min="1" max="50" value="1">
			        <button id="brush" class="btn btn-info active" data-status="active">Brush</button>
			        <button id="line" class="btn btn-info" data-status="inactive">Line</button>
			        <button id="circle" class="btn btn-info" data-status="inactive">Circle</button>
			    </div>
				<canvas class="canvas messageContainer" id="draw"></canvas>
			</div>
		</div>


		<div class="container">

			<div class="col-md-12">

				<form id="messageForm">
					<div class="form-group">

						<label>Enter Message</label>

						<input class="form-control" id="message">

						<br>

						<input type="submit" class="btn btn-primary" value="Send Message">


					</div>
				</form>

			</div>

		</div>

		<div class="container-fluid">

	
			<div class="col-md-2">
				<div class="well userSection">
					<h3>Users</h3>
					<ul class="list-group" id="users"></ul>
				</div>
			</div>

			<div class="col-md-10">
				<div class="chat" id="chat"></div>
			</div>

		</div>				
	</div>
</div>

